name: Run tests
permissions:
  contents: read

on:
  push:
    branches: [main]

  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  code_format:
    name: Run code quality checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.2
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync

      - name: Run code formatting checks
        shell: bash -l {0}
        continue-on-error: false
        run: uv run ruff format --check

  code_linting:
    name: Run code quality checks
    runs-on: ubuntu-latest
    needs: code_format
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.2
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync

      - name: Run code linting checks
        run: uv run ruff check --output-format=github .

  tests:
    name: Run tests (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    needs: code_format
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        os: ["ubuntu-24.04"]

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.2

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --dev

      - name: Run tests
        shell: bash -l {0}
        continue-on-error: false
        run: uv run pytest --cov=src --cov-report=xml tests/

      - name: Send to Codecov
        id: send_to_codecov
        uses: codecov/codecov-action@v5.5.1
        with:
          files: coverage.xml
          # fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
